:root {
  --black: #181820;
  --dark: #22222a;
  --dark-2: #2a2a35;
  --dark-3: #35353e;
  --gray-1: #2a2a30;
  --gray-2: #38383f;
  --gray-3: #8e8e9a;
  --gray-4: #5a5a66;
  --white: #f0f0f5;
  --text: #e8e8f0;
  --accent: #4d93f0;
  --accent-2: #2272e0;
}
